@CHARSET "UTF-8";

body {
font-family: "helvetica neue", helvetica, "lucinda sans unicode", "sans serif";
font-size: 12px;
}

input {
    padding-left:2px;
    margin: 4px;
}
      
button {
    margin: 4px 5px;
    -webkit-transition:all 0.1s linear;
}

canvas{   
    border: 1px solid #FFFFFF;
    border-color:black;
    position:absolute;
}

button:hover {
	background-color: #b9d185;
    -webkit-transform:  scale(1.1);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, 0.5); 
}

.item_line {
    background-color: beige;
    margin-top: 7px;
    padding-left: 1%;
}


.grid-container {
    display: inline-grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    background-color: grey;
    padding: 5px;
    margin-left: 100px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(200, 200, 200, 1);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    animation-duration: 1s;
    
  }
  
  
  /* Standard syntax */
  @keyframes grey1 {
    0%   {background-color: auto;}
    50%  {background-color: rgb(220, 221, 240);} 
    100% {background-color: auto;}
  }
  
  @keyframes grey2 {
    0%   {background-color: auto;}
    50%  {background-color: rgb(128, 169, 192);} 
    100% {background-color: auto;}
  }
  
  @keyframes grey3 {
    0%   {background-color: auto;}
    50%  {background-color: rgb(54, 76, 104);} 
    100% {background-color: auto;}
  }
  